.container .banner {
	width: 100%;
	height: 208px;
}
/****************content样式开始**********************/
.content {
	margin: 0 auto;
	width: 1000px;
	height: 500px;
}
/****************agent样式开始*********/
.content .agent{
	float: left;
	margin-left: 31px;
    margin-top: 23px;
    width: 815px;
}
.content .agent .main_nav ul {
	height: 21px;
}
.content .agent .main_nav ul li{
	float: left;
}
.content .agent .main_nav ul .return{
	background: url(../img/返回.gif) 0px 2px no-repeat;
	text-indent: 20px;
}
.content .agent .main_nav ul li a span{
	margin:0 15px;
}
.content .agent .agent_item{
    margin:15px 0 15px 10px;
}
.content .agent .agent_item  h2{
	margin:15px 0;
}
.content .agent .agent_item  p{
    margin-top: 12px;
	font-size: 14px;
	text-indent: 28px;
}
/****************business样式结束******************/
/****************content样式结束**********************/