*{
		margin:0;padding:0;
	}

	body{
		background:#cccccc;
	}
	.topdiv{
		background:#ffffff;
		height:88px;
		width:100%;
	}
	.topmain{
		width:1000px;
		margin:0 auto;
		font-family:微软雅黑;
		color:#333333;
	}
	.main{
		width:1000px;
		margin:0 auto;
		margin-top:14px;
		font-family:微软雅黑;
		color:#333333;
	}
	.border{
		1px solid red;
	}
	.logodiv{
		height:88px;
	}
	.logodiv span{
		float:left;
	}
	.logodiv .logo{
		width:73px;
		height:64px;
		padding-top:12px;
	}
	.logodiv .logo_wz{
		width:251px;
		height:25px;
		margin-left:11px;
		margin-top:37px;
	}
	.logodiv .navspan{
		width:555px;
		margin-left:110px;
	}
	.navspan{
		float:left;
	}
	.navspan a{
		height:76px;
		width:72px;
		float:left;
		padding-top:12px;
	}
	.navspan a:hover{
		background:#CCCCCC;
	}
	.navspan a span{
		margin-top:25px;
		height:21px;
		width:72px;
		text-align: center; 
		display:block;
	}
	.navspan .firstnav,.navspan .firstnav span{
		width:48px;
	}

	.banner{
		height:336px;
	}
	.banner img{
		width:100%;
		height:336px;
	}	
	.clearfloat{
		clear: both;
	}
   	.bnav{
		height:408px;
		width:235px;
		float: left;
	}
	/* .bnav  span{
		height:46px;
		width:235px;
		text-align: center; 
		line-height:47px;
		display:block;
		background:#FFFFFF;
	}
	.bnav .firstbnav{
		background:#96BFEB;
	}
	.bnav .jishu{
		background:#cccccc;
	} */
	.bnav ul{
		float: left;
		list-style : none;
		list-style-position:inside;
	}
	.bnav li{
		height:45px;
		width:235px;
		line-height:45px;
		display:block;
		
	}
	.bnav .lidiv{
		margin-left: 40px;
		height:48px;
		width:195px;
		float: left;
	}
	.bnav .lidiv p{
		float: left;
		
	}
	.bnav .lidiv button{
		font-family: "宋体";
		font-size: 18px;
		border: 0px;
		margin-right: 28px;
		margin-top: 17px;
		float: right;
	}
	.bnav .firstli{
		height:48px;
		background:#96BFEB;
		color: #01458D;
	}
	.bnav .ji{
		float: left;
		background:#EAEAEA;
	}
	.bnav .oushu{
		float: left;
		background:#ffffff;
	}
	.bnav .oushu button{
		background:#ffffff;
	}
	.bnav .ji button{
		background:#EAEAEA;
	}
	.mainbody{
		width:754px;
		height:408px;
		float: left;
		margin-left: 11px;
		
	}
	.top{
		height: 223px;
	}
	.new{
		width: 481px;
		height: 223px;
		float: left;
		background: #ffffff;
	}
	.new ul{
		list-style-image : url(image/li.gif);
		list-style-position:inside;
		margin-top:11px;
		margin-left:1em;
	}
	.new li{
		font-size:14px;
		line-height:30px;
		margin-left:4px;
		color；#333333；
	}
	.new .newtitle{
		font-family:微软雅黑;
		font-size:18px;
		color:#01458D;
	}
	.new a:hover{
		color:#01458D;
	}
	.top .right{
		margin-left: 11px;
		width: 262px;
		height: 223px;
		float: left;
	}
	.right .search{
		padding-top: 7px;
		height: 143px;
		background: #ffffff;
	}
	.top .right .search .top{
		height: 25px;
	}
	.top .right .search .bottom{		
		margin-top: 7px;
		height: 104px;
		margin-left: 26px;
	}
	.searchimg{
		width:28px;
		height: 26px;
		margin-left: 12px;
		float: left;
	}
	.searchwd{
		width:78px;
		height: 25px;
		margin-left: 12px;
		float: left;
		text-align: center;
		font-family:微软雅黑;
		font-size: 18px;
		color:#01458D;
	}
	.search .bottom label{
		font-family: "微软雅黑";
		font-size: 16px;
	}
	.search .bottom input{
		width: 168px;
		height: 25px;
		background: #00FFFF;
		margin-bottom: 6px;
		margin-top: 7px;
		border: 0px;
	}
	.search .bottom button{
		width: 59px;
		height: 26px;
		padding: 5px;
		margin-top: 3px;
		margin-left: 52px;
		background: #96BFEB;
		color: #ffffff;
		text-align: center;
		font-size: 14px;
		border: 0px;
	}
	.right .buy{
		height: 60px;
		margin-top: 11px;
		padding-left: 42px;
		background: #ffffff;
		
	}
	.buy p{
		padding-top: 5px;
		line-height:50px;
		font-family:宋体;
		font-size:18;
	}
	.down{
		height: 161px;
		margin-top: 11px;
		padding-top: 13px;
		padding-left: 18px;
		padding-right: 18px;
		background: #ffffff;
	}
	.down .title{
		width: 718px;
		height: 25px;
		float: left;
	}
	.down .title p{
		width: 78px;
		height: 25px;
		text-align: center;
		font-family:微软雅黑;
		font-size: 18px;
		color: #01458D;
		float: left;
	}
	.more {
		width: 54px;
		height: 22px;
		text-align: center;
		font-family:Arial;
		font-size: 14px;
		color: #999999;
		float: right;
	}
	.imgDiv{
		width: 716px;
		height: 130px;
		float: left;
	}
	.img{
		padding-top: 20px;
		width: 106px;
		float: left;
		padding-right: 16px;
	}
	.imglast{
		padding-top: 20px;
		width: 106px;
		float: left;
	}
	.footer{
		margin-top:14px;
		width: 100%;
		height: 34px;
		background: #000000;
	}
	.footer .footcontent{
		width: 1000px;
		
	}
}